@model ViewModelBaseTable

<form asp-action="Edit" asp-controller="Home" method="post">
    <input type="text" name="card" />
    <input type="submit" value="Отправить" />
</form>

@*<td>@el.Patient.LastName</td>
<td>@el.Patient.Patronymic</td>
<td>@el.Patient.FirstName</td>
<td>@el.Patient.Gender</td>
<td>@el.Patient.ResidenceAddress</td>

<td>@el.Doctor.LastName</td>
<td>@el.Doctor.Patronymic</td>
<td>@el.Doctor.FirstName</td>
<td>@el.Doctor.NumberPhone</td>

<td>@el.Diagnosis.Diagnosis</td>

<td>@el.DateAdmission</td>*@