@model ViewModelAllCard

@{
    ViewData["Title"] = "BaseTable";
}

<div>
    <div>
        <form id="reuqest" asp-action="GerCardByFilter" asp-controller="Home" method="post">
            <select id="select_value" name="filter" form="reuqest">
                <option value="Doctor">Doctor</option>
                <option value="Patient">Patient</option>
                <option value="Diagnosis">Diagnosis</option>
            </select>
            <p><input type="submit" value="Отправить"></p>
        </form>    
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Patient FirstName</th>
                <th scope="col">Patient Patronymic</th>
                <th scope="col">Patient LastName</th>
                <th scope="col">Patient Gender</th>
                <th scope="col">Patient ResidenceAddress</th>

                <th scope="col">Doctor LastName</th>
                <th scope="col">Doctor Patronymic</th>
                <th scope="col">Doctor FirstName</th>
                <th scope="col">Doctor NumberPhone</th>

                <th scope="col">Diagnosis</th>

                <th scope="col">DateAdmission</th>

                <th scope="col">Update</th>
                <th scope="col">Remove</th>
            </tr>

            @{

                foreach (var el in Model.AllCard)
                {
                        <tr>
                            <td>@el.Patient.LastName</td>
                            <td>@el.Patient.Patronymic</td>
                            <td>@el.Patient.FirstName</td>
                            <td>@el.Patient.Gender</td>
                            <td>@el.Patient.ResidenceAddress</td>

                            <td>@el.Doctor.LastName</td>
                            <td>@el.Doctor.Patronymic</td>
                            <td>@el.Doctor.FirstName</td>
                            <td>@el.Doctor.NumberPhone</td>

                            <td>@el.Diagnosis.Diagnosis</td>

                            <td>@el.DateAdmission</td>
                            
                            <td><a class="btn btn-primary" asp-route-id="@el.Id" asp-action="Edit" asp-controller="Home">Редактировать</a></td>
                            <td><a class="btn btn-danger" asp-action="AddRole" asp-controller="Role">Удалить</a></td>
                        </tr>
                }
            }

        </thead>
    </table>
</div>

