@model ViewModelAllCard
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "BaseTable";
}

<div>
    <div>
        <form id="reuqest" asp-action="GerCardByFilter" asp-controller="Home" method="post">
            <select id="select_value" name="filter" form="reuqest">
                <option value="PatientFirstName">Patient First Name</option>
                <option value="PatientLastName">Patient Last Name</option>
                <option value="PatientPatronymic">Patient Patronymic</option>
                <option value="Gender">Patient Gender</option>
                <option value="ResidenceAddress">Patient Residence Address</option>
                <option value="FirstName">Doctor First Name</option>
                <option value="LastName">Doctor Last Name</option>
                <option value="DoctorPatronymic">Doctor Patronymic</option>
                <option value="NumberPhone">Doctor NumberPhone</option>
                <option value="Diagnosis">Diagnosis</option>
            </select>
            <p><input type="submit" value="Отправить"></p>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Localizer["Patient First Name"]</th>
                <th scope="col">@Localizer["Patient Patronymic"]</th>
                <th scope="col">@Localizer["Patient Last Name"]</th>
                <th scope="col">@Localizer["Gender"]</th>
                <th scope="col">@Localizer["Residence Address"]</th>

                <th scope="col">@Localizer["Doctor Last Name"]</th>
                <th scope="col">@Localizer["Doctor Patronymic"]</th>
                <th scope="col">@Localizer["Doctor First Name"]</th>
                <th scope="col">@Localizer["Number Phone"]</th>

                <th scope="col">@Localizer["Diagnosis"]</th>

                <th scope="col">@Localizer["Date Admission"]</th>

                <th scope="col">@Localizer["Update"]</th>
                <th scope="col">@Localizer["Remove"]</th>
            </tr>

            @{

                foreach (var el in Model.AllCard)
                {
                    <tr>
                        <td>@el.Patient.LastName</td>
                        <td>@el.Patient.Patronymic</td>
                        <td>@el.Patient.FirstName</td>
                        <td>@el.Patient.Gender</td>
                        <td>@el.Patient.ResidenceAddress</td>

                        <td>@el.Doctor.LastName</td>
                        <td>@el.Doctor.Patronymic</td>
                        <td>@el.Doctor.FirstName</td>
                        <td>@el.Doctor.NumberPhone</td>

                        <td>@el.Diagnosis.Diagnosis</td>

                        <td>@el.DateAdmission</td>

                        <td><a class="btn btn-primary" asp-route-id="@el.Id" asp-action="Edit" asp-controller="Home">@Localizer["Update"]</a></td>
                        <td><a class="btn btn-danger" asp-action="AddRole" asp-controller="Role">@Localizer["Remove"]</a></td>
                    </tr>
                }
            }

        </thead>
    </table>
</div>

