@model Doctor


    <option value="@Model.FirstName">@Model.FirstName</option>
    <option value="@Model.LastName">@Model.LastName</option>
    <option value="@Model.Patronymic">@Model.Patronymic</option>
    <option value="@Model.NumberPhone">@Model.NumberPhone</option>
    



