@model ViewModelForPatient
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "PatientTable";
}

<div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Localizer["Id"]</th>
                <th scope="col">@Localizer["FirstName"]</th>
                <th scope="col">@Localizer["LastName"]</th>
                <th scope="col">@Localizer["Gender"]</th>
                <th scope="col">@Localizer["Patronymic"]</</th>
                <th scope="col">@Localizer["ResidenceAddress"]</</th>
                <th scope="col">@Localizer["Update"]</th>
                <th scope="col">@Localizer["Remove"]</th>
            </tr>
            @{
                foreach (var el in Model.AllPatient)
                {
                    await Html.RenderPartialAsync("PatientTable", el);
                }
            }

        </thead>

    </table>

</div>